{% extends 'layout.html.twig' %}

{# query the database #}
{% set locales = yassg_find_all('locale', {sort: {'item.name': 'asc'}}) %}

{% set products = yassg_find_all('products', {condition: '"category3" in item.categories.slug', sort: {'item.name': 'desc'}}) %}

{% set category1 = yassg_get('categories', '/category1.yaml') %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <main class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-xl">
            <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                <ul>
                    {% for locale in locales %}
                        <li>
                            {# ensure an actual method is called so we know it's being denormalized #}
                            <a href="{{ path('homepage', {_locale: locale.isoCode}) }}">{{ locale.getName() }}</a>
                        </li>
                    {% endfor %}
                </ul>
                
                <ul>
                    {% for product in products %}
                        <li>
                            <a>{{ product.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                
                <h2>{{ category1.name }}</h2>
                <p>{{ category1.random() }}</p>
                <p>{{ category1.getDescription() }}</p>
            </div>
        </div>
    </main>
{% endblock %}
