{% extends 'layout.html.twig' %}

{# query the database #}
{% set locales = yassg_find_all('locale', {sort: {'item.name': 'asc'}}) %}

{% set products = yassg_find_all('products', {condition: '"category1" in item.categories.column("slug")', sort: {'item.name': 'desc'}}) %}

{% set category1 = yassg_get('categories', '/category1.yaml') %}

{% set category1_via_slug = yassg_find_one_by('categories', {condition: {'item.slug': 'category1'}}) %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <main class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-xl">
            <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10 prose">
                <h1>Homepage</h1>

                <h2>Locales</h2>
                <ul>
                    {% for locale in locales %}
                        <li>
                            {# ensure an actual method is called so we know it's being denormalized #}
                            <a href="{{ path('homepage', {_locale: locale.isoCode}) }}">{{ locale.getName() }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <h2>Products linked to categories <code>slug: category1</code></h2>
                <ul>
                    {% for product in products %}
                        <li>
                            <a href="{{ url('product', {slug: product.slug}) }}">{{ product.name }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <h2>Category via ID</h2>
                <h3>{{ category1.name }}</h3>
                <p>{{ category1.getDescription() }}</p>

                <h2>Category via slug</h2>
                <h3>{{ category1_via_slug.name }}</h3>
                <p>{{ category1_via_slug.getDescription() }}</p>
            </div>
        </div>
    </main>
{% endblock %}
